<section>
<h2>Klarna IGE Data</h2>

<% my_data = Poison.encode!([["Blueberry",44],["Strawberry",23],["Banana",22],["Apple",21],["Grape",13]]) %>

<p>Line chart</p>
window.data = <%= raw my_data %>  
</section>
